body{
	background: -webkit-linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);
	background: -o-linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);
	background: -moz-linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);
	background: linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);height:auto;
	transition-property:height ;transition-duration:.2s;transition-timing-function:linear;

}
.none{display:none;}
#Spot/*主視覺滿版兼MENU*/{	background-image: url(../img/bg/21.jpg);}
#like00,#like01,#like02,#like03,#like04,#like06,#like57,#like09{}
.like:after{content:" ❤"; color:red;}
.tripic
{	/*並排pic框*/
	display:inline-block;
	position:relative;
	margin:1vw 1vw 1vw 1vw ;
	width:30vw;
	height:18vw; 
	overflow:hidden;
	background:rgba(0,0,0,0.5);
	transition-property:box-shadow background-color height;transition-duration:.2s;transition-timing-function:linear;
	}
.tripic img{
	width:100%;
	height:auto;
	-webkit-filter: brightness(50%);
  	filter:brightness(50%); 
	transition-property:filter ;transition-duration:.2s;transition-timing-function:linear;
	}

.picinfo{margin-top:20px;display:none; width:100%; height:auto;font-size:25px;text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.info2{font-style:	normal;font-size:18px;width:100%;}
.tripic:hover{	box-shadow:0 0 150px rgba(0,0,0,0.2) ;}
.textbox ul{list-style:none;margin:0 0 10px 0;padding:0;font-size:20px;}
.textbox li{opacity:0.8;margin:0 .5% 0 .5%;list-style:none;display:inline-block;font-size: 18px;width:18%;box-shadow:0 0 5px black ;background-color:#FFF;color:balck;transition-property:opacity box-shadow;transition-duration:.2s;transition-timing-function:linear;color:black;text-decoration: none;text-shadow: 0px 0px 10px 5px rgba(255,255,230,0.8);}
.textbox li:hover{opacity:1;box-shadow:0 0 15px black; cursor:pointer;}
.textbox li:active{box-shadow:0 0 15px gray inset;background-color:#ddd;}
.info2 ,.features{display:none;}
.opn { box-sizing: border-box;width:97vw;height:auto;z-index:100;padding:9vh 9vw 9vh 9vw;background-color: rgba(255,255,253,0.8);color:black;}
.opn img,.tripic img:hover{cursor:	default;-webkit-filter: brightness(100%);filter:brightness(100%); }
.fb_iframe_widget{width:100%;}

.opn .features,.opn .info2 ,.opn .picinfo{display:block;}
.opn .hfz:before{content:"Designer - 黃梵真";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .tmw:before{content:"Designer - The Middle of Winter";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .enl:before{content:"Designer - Enan Lin";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .arn:before{content:"Designer - 聶永真 Aaron Nieh";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .tzy:before{content:"Designer - 田中鈺";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .tby:before{content:"Designer - 曾柏瑜";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .tyt:before{content:"Designer - 蔡語彤";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.opn .syb:before{content:"Designer - Starrybird";font-size:40px; 	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}





@media only screen and (min-width: 1280px) {
.tripic
{	/*並排pic框*/
	margin:12px 12px 12px 12px ;
	width:384px;
	height:225px;
	}
.opn { width:1254px;z-index:100;margin:0;}
}
@media only screen and (max-width: 780px) {
.tripic
{	/*並排pic框*/
	margin:3vw 2vw 3vw 2vw ;
	width:44vw;
	height:26vw;
	}
.textbox li{margin:0 2% 0 2%;font-size: 18px;width:45%}
.opn {width:96vw; margin:0;}
.picinfo{margin-top:20px;height:auto;font-style:italic;	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.info2{font-style:	normal;}
}
@media only screen and (max-width: 420px) {
.tripic
{	/*並排pic框*/
	margin: 5vw 0 5vw 0;
	width:100vw;
	height:59vw;
	}
	
.opn .hfz:before{font-size:30px;}
.opn { width:100vw; }
.picinfo{margin-top:20px;height:auto;font-size:25px;font-style:italic;	text-shadow:2px 2px 5px rgba(0,0,0,0.8);}
.info2{font-style:	normal;font-size:18px;}
}

.opn{display:block;height:auto;}