h2{
  font-family: FangSong,'cwTeXFangSong',Adobe Fangsong Std;
}
button{
  width: 100px;
}
#card1_btn{
  list-style: none;
  margin: 0;
  margin: auto;
  margin-left: 0px;
  margin-bottom: 30px;
  padding: 0;
}
#card1_btn > li{
  float: left;
  margin-left: 10px;
}
.demo-card-wide.mdl-card {
  width: 500px;
  height: 500px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 70px;
  background-color: #607d8b;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
#sign-info {
  margin-left: -15px;
  color: #607d8b;
  font-size: 120%;
}
