
#Spot/*主視覺滿版兼MENU*/
{	background-image: url(../img/bg/spot_history.png); }
li{
	list-style: none;
}
.textbox{
	border: none;
}
/*MAP MARK*/
@-webkit-keyframes jump {
	from{
		padding-top: 0px;
	}
	to{
		padding-top: 10px;
	}
}
@-moz-keyframes jump {
	from{
		padding-top: 0px;
	}
	to{
		padding-top: 10px;
	}
}
.mark{
	position: absolute;
	max-width: 4vw;
	z-index: 99;
	/*animation*/
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-webkit-animation-name: jump;
	-moz-animation-name: jump;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
}
.mark:hover{cursor: pointer;}
.mark_word{
	position: absolute;
	font-family: impact;
	color: white;
	font-size: 2vw;
}
/*US美國 DM丹麥 GL全球 FC法國 HL荷蘭 GM德國 CN加拿大 CH中國 IR愛爾蘭 TW台灣*/
#CN_mark{margin: -46% 0 0 -35%;}
#US_mark{margin: -39.5% 0 0 -32%;}
#DM_mark{margin: -75% 0 0 -48%;}
#DM_word{margin: -74.5% 0 0 6.5%;}/*丹麥 字*/
#FC_mark{margin: -41.8% 0 0 -4.5%;}
#HL_mark{margin: -70% 0 0 -48%;}
#HL_word{margin: -69.5% 0 0 6.5%;}/*荷蘭 字*/
#GM_mark{margin: -44% 0 0 -2.5%;}
#CH_mark{margin: -39% 0 0 21.5%;}
#TW_mark{margin: -34% 0 0 27.5%;}
#IR_mark{margin: -44.5% 0 0 -7.5%;}

/*MAP*/
#map2_btn{
	width: 6.5vw;
	height: 6.5vw;
	border: 2px solid white;
	border-radius: 50%;
	font-size: 1.5vw;
	position: absolute;
	margin: 15% 0 0 85%;
}
#map2_btn:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}
#map h2{
	margin-bottom: 0;
}
#map h5{
	margin: 0;
}

/*TIME_LINE*/
#time_line{
	max-width: 5px;
	margin: auto;
	background-color: white;
	margin-top: 1%;
	z-index: 1;
}
#triangle{
	border-top: 8vw solid white;
	border-right: 4vw solid transparent;
	border-left: 4vw solid transparent;
	display: inline-block;
	margin-bottom: 250px;
}
.heart{
	z-index: 100;
	max-width: 10vw;
	cursor: pointer;
	bottom: 55%;
	right: 45%;
	/*position: fixed;*/
	/*don't move*/
	margin-bottom: -8.8%;
	margin-left: 89.7%;
	position: relative;
}
.time{
	position: relative;
	height: 100%;
}
.time ul{
		position: absolute;
		width: 100%;
		font-family: FangSong,'cwTeXFangSong',Adobe Fangsong Std;
		color: white;
		font-size: 1.2vw;
		padding: 0;
		margin: 0;
		transition-property: box-shadow background-color;transition-duration:.2s;transition-timing-function:linear;
}
.time li{
	max-width: 40%;
	width: 40%;
	margin-bottom: 2.5%;
	padding: 1% 1% 1% 1%;
	border-radius: 15px;
	z-index: 1;
}
.time img{
	border-radius: 10px;
}
.time h4{
	font-size: 1.6vw;
	margin: 0;
	font-style: oblique;
}
.time strong{
	font-style: italic;
}
.dot_L{ /*事件卡 點*/
	position: absolute;
	width: 1.3vw;
	height: 1.3vw;
	border-radius: 50%;
	background-color: white;
	z-index: 9;
	margin-left: 37%;
}
.S_line_L{ /*事件卡 線*/
	position: absolute;
	height: 3px;
	width: 9%;
	background-color: white;
	z-index: 9;
	margin-left: 38%;
	margin-top: 0.5vw;
}
.dot_R{ /*事件卡 點*/
	position: absolute;
	width: 1.3vw;
	height: 1.3vw;
	border-radius: 50%;
	background-color: white;
	z-index: 9;
	margin-left: 1%;
}
.S_line_R{ /*事件卡 線*/
	position: absolute;
	height: 3px;
	width: 9%;
	background-color: white;
	z-index: 9;
	margin-left: -7%;
	margin-top: 0.5vw;
}
.left{ /*左方事件卡*/
	margin-left: 2%;
}
.right{ /*右方事件卡*/
	margin-left: 56%;
	margin-right: 2%;
}
/*US美國 DM丹麥 GL全球 FC法國 HL荷蘭 GM德國 CN加拿大 CH中國 IR愛爾蘭 TW台灣*/
/*card color*/
.US{background-color: #f5a71d;}
.DM{background-color: #e7794b;}
.GL{background-color: #30426a;}
.FC{background-color: #2fb1c0;}
.HL{background-color: #2fb1c0;}
.GM{background-color: #f5a71d;}
.CN{background-color: #2fb1c0;}
.CH{background-color: #b1d236;}
.IR{background-color: #ef385d;}
.TW{background-color: #b1d236;}
/*time word color*/
.US strong{color: #ffe3b1;}
.DM strong{color: #9a2d00;}
.GL strong{color: #b9cfff;}
.FC strong{color: #006773;}
.HL strong{color: #006773;}
.GM strong{color: #ffe3b1;}
.CN strong{color: #006773;}
.CH strong{color: #417d00;}
.IR strong{color: #ffbac8;}
.TW strong{color: #417d00;}

#orlando img{
	margin-top: 1vw;
	height: 25vw;
	width: 25vw;
}
#idahot img{
	margin-top: 1vw;
	height: 25vw;
	width: 25vw;
}
#TW img{
	margin-top: 1vw;
	height: 25vw;
	width: 25vw;
}

/*年份*/
.year_R{
		position: absolute;
		font-family: FangSong,'cwTeXFangSong',Adobe Fangsong Std;
		text-align: center;
		color: white;
		font-size: 2vw;
		margin: -2% 0 0 48.5%;
}
.year_L{
		position: absolute;
		font-family: FangSong,'cwTeXFangSong',Adobe Fangsong Std;
		text-align: center;
		color: white;
		font-size: 2vw;
		margin: -2% 0 0 -15%;
}

@media only screen and (min-width: 1280px){
	#map2_btn{
		width: 100px;
		height: 100px;
		font-size: 23px;
	}
	.time h4{font-size: 30px;}
	.time ul{font-size: 22px;}
	.year_R{font-size: 30px;}
	.year_L{
		font-size: 30px;
		margin-left: -16%;
	}
	#triangle{
		border-top: 60px solid white;
		border-right: 30px solid transparent;
		border-left: 30px solid transparent;
	}
	#orlando img{
		height: 400px;
		width: 400px;
	}
	#idahot img{
		height: 400px;
		width: 400px;
	}
	#TW img{
		height: 400px;
		width: 400px;
	}
	.heart{
		max-width: 128px;
		/*max-width: 10vw;*/
		/*position: fixed;*/
		/*don't move*/
		margin-bottom: -110px;
		margin-left: 1150px;
	}
}

@media only screen and (max-width: 780px) {
	#Spot{background-position:40% 10%;}

	/*map*/
	#map2_btn{
		width: 9vw;
		height: 9vw;
		font-size: 2.1vw;
	}

	/*time line*/
	.time h4{font-size: 2.7vw;}
	.time ul{font-size: 2vw;}
	.year_R{font-size: 2.7vw;}
	.year_L{
		font-size: 2.7vw;
		margin-left: -17%;
	}
	.S_line_L{ /*事件卡 線*/
		height: 2px;
	}
	.S_line_R{ /*事件卡 線*/
		height: 2px;
	}
	#time_line{
		max-width: 3px;
	}
	#triangle{
		margin-bottom: 200px;
	}

	/*pic*/
	#orlando img{
		margin: auto;
		margin-bottom: 3%;
		margin-top: 4%;
		height: 90%;
		width: 90%;
	}
	#idahot img{
		margin: auto;
		margin-bottom: 3%;
		margin-top: 4%;
		height: 90%;
		width: 90%;
	}
	#TW img{
		margin: auto;
		margin-bottom: 3%;
		margin-top: 4%;
		height: 90%;
		width: 90%;
	}
}

@media only screen and (max-width: 420px) {
	/*map*/
	#map2_btn{
		width: 60px;
		height: 60px;
		font-size: 14px;
		margin: 23% 0 0 78%;
	}
	#map h2{
		margin-bottom: 8%;
	}
	#map h5{
		display: none;
	}

	/*time line*/
	.time h4{font-size: 25px;}
	.time ul{font-size: 15px;}
	.year_R{font-size: 20px;}
	.year_L{
		font-size: 20px;
		margin-left: -25%;
	}
	.S_line_L{ /*事件卡 線*/
		height: 1px;
	}
	.S_line_R{ /*事件卡 線*/
		height: 1px;
	}
	.time li{
		border-radius: 10px;
	}
	#time_line{
		max-width: 2px;
	}
	#triangle{
		border-top: 40px solid white;
		border-right: 20px solid transparent;
		border-left: 20px solid transparent;
		margin-bottom: 150px;
	}
}
