body{
	background: -webkit-linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);
	background: -o-linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);
	background: -moz-linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);
	background: linear-gradient(black,black,black,#070326,#5c3041,#fbdeb6,white,white,white);height:auto;
	transition-property:height ;transition-duration:.2s;transition-timing-function:linear;
}
@-webkit-keyframes pulse {
  from {    -webkit-transform: scale3d(1, 1, 1);    transform: scale3d(1, 1, 1);  }
   to {    -webkit-transform: scale3d(1.05, 1.05, 1.05);    transform: scale3d(1.05, 1.05, 1.05);  }}
@keyframes pulse {
  from {    -webkit-transform: scale3d(1, 1, 1);    transform: scale3d(1, 1, 1);  }
  to {    -webkit-transform: scale3d(1.05, 1.05, 1);    transform: scale3d(1.05, 1.05, 1);  }}
.pulse {  -webkit-animation-name: pulse;  animation-name: pulse;}

#Spot/*主視覺滿版兼MENU*/
{	background-image: url(../img/bg/spot_law.png); }

.textbox{
	font-size: 40px;
	padding-bottom: 100px;
	}
li{
	list-style: none;	transition-property:box-shadow background-color;transition-duration:.2s;transition-timing-function:linear;
}
#st1,#st2,#st3,#st4,#st5,#st6{ opacity:0.8;transition-property:box-shadow opacity;transition-duration:.2s;transition-timing-function:linear;}
#st1:hover,#st2:hover,#st3:hover,#st4:hover,#st5:hover,#st6:hover{opacity:1;-webkit-animation-name: pulse; animation-name: pulse;  -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode:}
#st1:active,#st2:active,#st3:active,#st4:active,#st5:active,#st6:active{-webkit-filter: brightness(110%);
  	filter:brightness(110%); }

/*修法進度*/
.explane{
	background: rgb(0,0,0);
	background-image:url(../img/law/pride.png);
	background-size:auto 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93131', endColorstr='#b220e8',GradientType=1 );
	z-index:3;
	position: absolute;
	width: 65vw;
	max-width: 60%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 17%;
	padding:0 5% 0 5%;
	border-radius: 10px;
	border: white 15px;
	border-style: double;
	display: none;
}
.explane img{
	width: 30px;
	float: right;
}
.explane img:hover{cursor: pointer;}
.explane p{
	border: 0;margin:0;
}
.explane .textbox{	font-size:30px;line-height:35px;}
ul{padding:0;margin:0;}
#area1{
	padding-top: 10%;
	padding-bottom: 30%;
}
.legislate_steps{
	max-width: 100%;
	margin-left: 8%;
	margin-right: -4%;
	margin-top: 5%;
}
.legislate_steps li{
	max-width: 8%;
	float: left;
}
.legislate_steps p{
	font-size: 2vw;
	padding: 0;
	margin-top: -20px;
}
#check{
	margin-left: -20%;
	width: 150%;
	text-align: center;
}
.illus{display: none;}

/*修民法&立專法*/
.duotext
{
	background-color: rgba(255, 255, 255, 0);
	}
#area2 p{
	font-size: 20px;
}
#area2 > p{ /*副標*/
	margin-top: 0;
	font-size: 25px;
}
.pic1{
	display: block;
	max-width: 40%;
	margin-top: 5%;
	margin-left: 7%;
}
.pic2{
	display: block;
	max-width: 40%;
	margin-top: 10%;
	margin-left: 53%;
}
.word1{
	display: block;
	max-width: 100%;
	margin-left: 47%;
	margin-top: -27%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 1.6vw;
}
.word2{
	display: block;
	max-width: 42%;
	margin-left: 3%;
	margin-top: -27%;
	padding-bottom: 5%;
	padding-left: 3%;
	font-size: 1.6vw;
}

/*五條法案&四大重點*/
#line_down{display: none;}
#four_points{width:100%;　}
#four_points li{display:inline-block;
	text-align:center;
	max-width: 20vw;
	margin-left: 1.5vw;
	margin-right: 1.5vw;
}
#four_points img{
	max-width: 70%;
}
#four_points p{
	font-size: 2vw;
	margin: 0;
}
.law{
	font-size: 2vw;
	margin-top: 50px;
}
.law div{
	max-width: 80%;
	margin: auto;
	margin-bottom: 3%;
	padding: 1% 3% 1% 3%;
	border-radius: 20px;
	background-color: rgba(143, 0, 190, 0.3);
}
.law .original{
	background-color: rgba(143, 0, 190, 0);
	border-radius: 0;
	border-top: 1px solid white;
	font-size: 1.5vw;
	margin-bottom: 0;
	padding: 1% 0 1% 0;
}
#ori1{max-width: 40%;}
#ori2{max-width: 55%;}
#ori3{max-width: 50%;}
.law strong{
	color: #cb0035;
}
.law h3{
	margin-top: 10%;
	margin-bottom: 20px;
	font-size: 2.5vw;
}
.law h5{
	margin: 5px 0  5px 0;
	font-style: italic;
}
.black{color:black;}
#four_points ul:hover{background:rgba(255,255,255,0.3);}
#four_points li:hover{background:rgba(255,255,255,0.3);box-shadow:0 0 35px rgba(0,0,0,0.8);-webkit-animation-name: pulse; animation-name: pulse;  -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;cursor: pointer;}
#four_points li:active{background:rgba(255,255,255,0.5);-webkit-filter: brightness(110%);  	filter:brightness(110%);}
.law li>div{transition-property:box-shadow background-color;transition-duration:.2s;transition-timing-function:linear;}
.law li>div:hover{box-shadow:0 0 35px rgba(0,0,0,0.8);-webkit-animation-name: pulse; animation-name: pulse;  -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
@media only screen and (min-width: 1280px) {
	/*修法進度*/
	#check{font-size: 25px;}
	.legislate_steps .item{font-size: 28px;}

	/*修民法&立專法*/
	#area2 p{font-size: 35px;}
	#area2 > p{font-size: 25px;}
	.word1{font-size: 22px;}
	.word2{font-size: 22px;}

	/*五條法案&四大重點*/
	#four_points p{font-size: 33px;}
	#four_points li{display:inline-block;
	text-align:center;
	max-width: 260px;
	margin-left: 20px;
	margin-right: 20px;
}
	.law{font-size: 25px;}
	.law .original{
		font-size: 18px;
		max-width: 720px;
	}
	#ori1{max-width: 400px;}
	#ori2{max-width: 500px;}
	#ori3{max-width: 460px;}
	.law h3{font-size: 40px;}
}

@media only screen and (max-width: 780px) {
	#Spot{
			background-position:50% 10%;
	}
	/*修法進度*/
	#area1{
		padding-bottom: 100px;
	}
	.textbox{
		padding-bottom: 100px;
		}
		.legislate_steps{
			margin-left: 5%;
			margin-right: 0;
		}
	.legislate_steps li{
		max-width: 20%;
		float: none;
		}
		.legislate_steps .item{
			font-size: 3.5vw;
			margin-top: -10px;
		}
	.arrow{
		transform:rotate(90deg);
		-ms-transform:rotate(90deg); 	/* IE 9 */
		-moz-transform:rotate(90deg); 	/* Firefox */
		-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
		-o-transform:rotate(90deg); 	/* Opera */
	}
	.legislate_steps .illus{
		display: block;
		position: absolute;
		text-align: center;
		font-size: 4vw;
		margin-left: 30%;
		margin-top: 5%;
	}
	#st4_words{
		margin-left: 35%;
	}
	#st5_words{
		margin-left: 40%;
	}
	#st6_words{
		margin-left: 40%;
	}

	/*修民法&立專法*/
	#area2{
		margin-top: 50px;
	}
		.pic2,.pic1{
		width:100vw;max-width:100vw;height:33vw;overflow:hidden;box-sizing:border-box;margin:50px 0 0 0;
	}
	.pic2 img,.pic1 img{margin-top:-15%;}
	.word1{
		margin:auto;
		font-size: 16px;
	}
	.word2{
		max-width: 100%;
		margin:auto;
		padding-left: 5%;
		padding-right: 5%;
		font-size: 16px;
	}
	#area2 p{
		font-size: 20px;
		margin: 10px 0 5px;
	}
	#area2 > p{ /*副標*/
		font-size: 22px;
		padding-bottom: 30px;
	}

	/*五條法案&四大重點*/
	#four_points{
		margin:0;width:100%;
	}
	#four_points p{
		font-size: 5vw;
	}
	#four_points li{
	max-width:45%;margin:0;
	}
	#line_down{display: block;}

	.law{padding:0;	margin: 50% 0 0 0;width:100%;font-size:20px;	}
	.law div{
		max-width: 100%;margin:5% 0 0 0;
	}
	.law .original{
		font-size: 15px;
	}
	#ori1{max-width: 100%;}
	#ori2{max-width: 100%;}
	#ori3{max-width: 100%;}
	.law h3{
		font-size:30px;
	}
.b{color:black;}
}
@media only screen and (max-width: 420px) {
	/*修法進度*/
}

@media only screen and (min-width: 780px) {
	.steps_icon:hover{
		cursor: pointer;
		-webkit-filter: drop-shadow(0 0 7px rgba(255,255,230,0.9));
		filter: drop-shadow(0 0 7px rgba(255,255,230,0.9));
	}
}
